html, body {
  height: 100%;
  font: 16px/1.5 'Arial';
}

body {
  -webkit-font-smoothing: antialiased;
}

#root {
  height: 100%;
}

a {
  color: #6da3bd;
  transition: all 0.3s linear;

  &:hover {
    text-decoration: none;
  }
}

button, input, label:after, label:before {
  transition: all 1s cubic-bezier(0.5, 0, 0, 1);
}