@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

@font-face {
  font-family: 'BERNIERRegular-Regular';
  src: url('/../../fonts/bernier/BERNIERRegular-Regular.eot?#iefix') format('embedded-opentype'),
  url('/../../fonts/bernier/BERNIERRegular-Regular.otf') format('opentype'),
  url('/../../fonts/bernier/BERNIERRegular-Regular.woff') format('woff'),
  url('/../../fonts/bernier/BERNIERRegular-Regular.ttf') format('truetype'),
  url('/../../fonts/bernier/BERNIERRegular-Regular.svg#BERNIERRegular-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}