@import "../../../../assets/style/misc/media.scss";

.flip-container {
  perspective: 1000px;
  position: relative;
  width: 380px;
  min-height: 395px;
  transform: translate(-50.1%, -50.1%); //TODO: замыливание
  top: 49.9%;
  left: 49.9%;
  @include phone {
    width: (300/320)*100%;
  }
}

.flip-container.flip-container__active .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 380px;
  min-height: 395px;
  @include phone {
    width: 100%;
    margin: 0 auto;
  }
  @include tablet {
    width: (348/768)*100%;
  }
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  width: 100%;
}